.button {
  border-radius: 4px;
  margin: 2px 0;
  width: fit-content;
  transition: all 0.3s;
  color: var(--colour-white);
  background-color: var(--colour-saffron);
  display: flex;
  align-items: center;
  white-space: nowrap;

  &:hover {
    opacity: 0.7;
  }
}

.regular {
  padding: 8px 16px;
  font-size: 16px;
}

.small {
  padding: 4px 8px;
  font-size: 12px;
}

.dark {
  background-color: var(--colour-emerald);
}

.outline {
  border: 1px solid var(--colour-blue-300);
}

.warning {
  background-color: var(--colour-warning);
}

.basic {
  border: none;
  background-color: transparent;
  color: var(--colour-black);

  &:hover {
    opacity: 1;
    color: var(--colour-white);
    background-color: grey;
  }
}
