:root {
  --border-card-radius: 4px;
  --card-padding: 16px;
  --page-max-width: 1600px;

  --elevation-low: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-medium: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-high: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);

  --transition-cubic-bezier: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  --colour-saffron: #f9a03f;
  --colour-emerald: #40916c;
  --colour-viridian: #0a9396;
  --colour-white: #fff;
  --colour-black: black;
  --colour-warning: #db5461;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: inherit;

  &:active {
    color: inherit;
  }
}

select {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
