.container {
  position: relative;
  display: block;
}

.account {
  display: none;
  align-items: center;

  & button {
    margin-left: 8px;
  }

  @media (--medium-up) {
    display: flex;
  }
}

.user {
  user-select: none;
  cursor: default;
}

.dropdown {
  position: absolute;
  left: -40px;
  top: 44px;
  background-color: var(--colour-white);
  transition: all 0.7s;
  margin: 0 auto;
  height: 0;
  overflow: hidden;
  text-align: left;
  border-top: 0;

  border-bottom: 0;
  border-radius: var(--border-card-radius);
  max-height: 0px;

  transition: var(--transition-cubic-bezier);
}

.active {
  height: auto;
  z-index: 11;
  max-height: 200px;
  box-shadow: var(--elevation-low);
}
/* 
.disabled {
  opacity: 0.4;
} */

.button {
  margin-right: 8px;
}

.image {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: var(--elevation-low);
  margin-right: 8px;

  & img {
    width: 100%;
    height: auto;
  }
}
