.loading {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.lower-buttons {
  margin-top: 16px;
}
