.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: var(--colour-black);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
}

.container {
  margin: 0 auto;
  padding: 8px;
  max-height: 50px;

  max-width: var(--page-max-width);
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
}
