.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: black;
  color: white;
  z-index: 2;
}

.container {
  margin: 0 auto;
  padding: 8px;
  max-width: var(--page-max-width);
  display: flex;
  justify-content: space-between;
}
